<!DOCTYPE html>
<html lang="en">
<head>
  <title>Index</title>
  <%- include layout/link_head %>
</head>
    <body>
        <%- include layout/header %>    
        <div class="container">
          <h3></h3>
          <p></p>
        </div>

    </body>
</html>