<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>edit student</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  </head>
  <body>
    <form action="" method="post" class="STYLE-NAME">
      <h3>STUDENT NAME FORM</h3>
      <label>
        <input value="<%= student.first_name %>" id="name" type="text" name="firstname" placeholder="First Name" />
        <input value="<%= student.last_name %>" id="name" type="text" name="lastname" placeholder="Last Name" />
        <input value="<%= student.email %>" id="name" type="text" name="email" placeholder="Email" />
      </label>
      <label>
        <input type="submit" class="button" value="Edit Student" /> 
      </label>    
    </form>
  </body>
</html>