#hyper:link {
    color: #FF0000;
    text-decoration: none;
}
#hyper:visited {
    color: #00FF00;
}
#hyper:hover {
    color: #FF00FF;
    text-decoration: underline;
}
#hyper:active {
    color: #0000FF;
}
